@use 'sass:map';
@import '../variables';
@import '../mixins';

.filters {
  font-size: 13px;
  line-height: 20px;
  padding: 14px 0;
  background-color: map.get($colors, white);
  border-radius: 5px;

  @include card-shadow;
}

.filters--disabled {
  cursor: wait;

  .filters__item {
    cursor: wait;
  }
}

.filters__title {
  color: map.get($colors, black);;
  font-size: 13px;
  line-height: 20px;
  padding: 0 20px;
  margin-bottom: 6px;
  font-weight: 600;
  text-transform: uppercase;
}

.filters__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;

  &:hover {
    background-color: map.get($colors, on-white);
  }

  &:active {
    background-color: darken(map.get($colors, on-white), 2%);
  }
}

.filters__item-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 2px;
  border: 1px solid map.get($colors, border-blue);
}

.filters__item-checkbox--selected {
  border-color: map.get($colors, accent);

  .filters__item-checkbox-image {
    display: inline;
  }
}

.filters__item-checkbox-image {
  display: none;
}
